
@import url("content.css");
@import url("blocks.css");

* {
	margin: 0;
	padding: 0;
}
/* --------- Layout --------- */
html {
	
	font-family: Trebuchet MS,Arial,Helvetica,sans-serif;
	line-height: normal;
	background:  #F0FFF0 url("../img/html.jpg")  fixed ;
		
	}
body {
	font-size: 13px;
	line-height: normal;
	unicode-bidi: embed;
	width: 920px;
	margin: 0 auto;
	background: #F0FFF0 ;
    
	
}






#xo-page {
	padding-top: 4px;   background: transparent;  }

#xo-content {
  padding : 2px;
  text-align : justify;
  color:#333333;
  background:#fff;
  margin : 8px;
  
}

/* --------- Header --------- */
#xo-header {
	
	height: 140px;
	background: url("../img/is.png") no-repeat;
}


/* --- Logo --- */
#xo-header img.logo {
	float:	left; 
	padding-left:40px;
	padding-top:25px;
} 

/* --------- Navigation menu --------- */



#menu{
	width:90%;
	margin:0px auto;
	position:relative;
}
#menu ul{
	list-style:none;
	
}
#menu li{
	display:block;
	float:left;
	
}
#menu li a{
	background:#749b10 url("../img/menu_bg.gif") repeat-x;
	border:2px solid #80a225;
	margin:0 1px;
	padding:15px 15px 15px 15px;
	display:block;
	float:left;
	color:#fff;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	height: 50px;
	
}
#menu li a span{
	color:#52651f;
	font-size:12px;
	text-transform:lowercase;
	font-weight:normal;
}
#menu li a:hover{
	background:#e46825 url("../img/menu_hover.gif") repeat-x;
	border:2px solid #B8860B;
	text-decoration:none;
}
#menu li a:hover span{
	color:#ffd9c7;
}
.current{
	background:#e46825 url("../img/menu_hover.gif") repeat-x;
	border:2px solid #B8860B;
	margin:0 1px;
	padding:15px 15px 15px 15px;
	display:block;
	float:left;
	color:#fff;
	text-transform:uppercase;
	text-decoration:none;
	font-size:16px;
	cursor:pointer;
	font-weight:bold;
	height: 50px;
}
.current span{
	color:#ffd9c7;
	font-size:12px;
	text-transform:lowercase;
	font-weight:normal;
}

	
/*============== Styles pour l'include userbar.html =================*/


.xo-userbar form {
	display:							inline;
	padding:							0px;
}
.xo-userbar button {
	margin: 							0px -3px;
	border:							0px none;
	padding:							0px;
	background:						transparent none;
}
.xo-userbar button img {
	width: 							24px;
	height: 						24px;
}
.xo-userbar img {
	width: 							24px;
	height: 						24px;
}
.xo-userbar input {
	color: 							black;
	font-size: 						1.2em;
	background-color: 			inherit;
}

.xo-userbar a {
	color: 							#FF4500;
	text-decoration: 				none;
	background-color: 			inherit;
	
	font-weight:					bold;
}
.xo-uname {
	color: 							#87af7b;
	font-size:						1.6em;
	font-weight:					bold;
	background: 					inherit;
}


.xo-userbar{
	height: 32px;
	text-align: left;
	float: right;
	padding-right:80px;
	padding-top:50px;
}



/* --------- Content module page --------- */
#xo-content {
  padding : 8px;
  text-align : justify;
    
}

/* --------- Footer --------- */
#xo-footer {  
	background: url("../img/footer.png") no-repeat center bottom;
	width: 920px;
	height:90px;
	
	
}






/* --------- Block main menu --------- */
#mainmenu {
	padding-bottom:20px;
	text-align: left;
	
}
#mainmenu a {
  display: block;
  margin: 0;
  padding: 4px;
  font-size : 1em;
  font-weight:					bold;
  color:#363636;
	
}
#mainmenu a:hover {color:#B8860B;}

}



}
#mainmenu a.menuSub {
  padding-left: 20px; color:#575757 ;
  font-size: .9em;
  font-weight:					bold;
}
#mainmenu a.menuSub:hover {}

/* --------- Block user menu --------- */
#usermenu {
font-size: .9em; 
padding-left: 15px;
text-align: left;
padding-bottom:20px;
}
#usermenu a {
  display: block;
  margin: 0; 
  padding: 4px;
}
#usermenu a:hover {color:#009ACD}


.rss { float: left; padding: 5px 5px 0 0;}
.rss a:hover {	text-decoration: none;}


/* --------- System module -------- */
/* --- system_redirect ---*/
#xo-redirect {
	margin: 10px 80px 10px 80px;
	background-color: #fafafa;
	padding: 8px;
	line-height: 1.4em;
	text-align: center;
	border: 1px solid #ddd;
}
/* --- system_siteclosed --- */
#xo-siteclosed {
	margin: 10px 200px 10px 200px;
	background-color: #fafafa;
	padding: 8px;
	line-height: 1.6em;
	text-align: center;
	border: 1px solid #ddd;
}
#xo-siteclosed strong {
	display: block;
	font-style: normal;
}
#xo-siteclosed label {
	font-size: .9em;
	font-weight: normal;
}
#xo-siteclosed input {margin: 2px;}




